{
   "logging":{
      "file":"/var/log/rpistatusvialuma.log",
      "level":"warning"
   },
   "luma":{
      "demo_opts.py":{
         "folder":"/opt/luma.examples/examples"
      }
   },
   "backgroundcolor":"BLACK",
   "boxmarginleft":27,
   "font": {
      "color": "WHITE",
      "ttf": false,
      "ttffile": "/opt/luma.examples/examples/fonts/DejaVuSansMono.ttf",
      "ttfsize": 8
   },
   "imagerefresh":0.2,
   "linefeed":10,
   "components":[
      "hostname",
      "currentdatetime",
      "cpu",
      "ram",
      "ipping",
      "uptime",
      "board",
      "temperatur",
      "drives",
      "lastbackupimage",
      "os",
      "kernelversion",
      "version",
      "helloworld",
      "empty"
   ],
   "component_pihole": {
    "dbfile": "/etc/pihole/pihole-FTL.db",
	 "showlastblockeddomain": true,
	 "showblockedlast24h": true,
	 "allowedstatus": "0,2,3,12,13,14,17",
     "lastblockedhours": 24
   },
   "component_mqttstatus": {
     "mqttuser": "",
     "mqttpassword": ""
   },
   "component_checkmac": {
    "mac": "00:00:00:00:00:00"
   },   
   "component_drive":{
      "drive":[
         "/",
         "/"
      ]
   },
   "component_hostname": {
    "font": {
      "default": false,
      "ttffile": "/opt/luma.examples/examples/fonts/code2000.ttf",
      "size": 16
    }
   },
   "component_ipping":{
      "localpingdestination":"",
      "pingintervall":300,
      "remotepingdestination":"8.8.8.8"
   },
   "component_lastbackupimage":{
      "checkforlatestfile":"/mnt/%HOSTNAME%/*.img"
   },
   "pushover":{
      "messages":1,
      "apikey":"",
      "userkey":""
   },
  "design": "beauty"
}
