{
   "luma":{
      "demo_opts.py":{
         "folder":"/opt/luma.examples/examples"
      }
   },
   "backgroundcolor":"BLACK",
   "boxmarginleft":27,
   "fontcolor":"WHITE",
   "imagerefresh":0.2,
   "components":[
      "hostname",
      "currentdatetime",
      "cpu",
      "ram",
      "ipping",
      "uptime",
      "board",
      "temperatur",
      "drives",
      "lastbackupimage",
      "os",
      "version",
      "helloworld"
   ],
   "component_drive":{
      "drive":[
         "/"
      ]
   },
   "component_hostname": {
    "font": {
      "default": false,
      "ttffile": "/opt/luma.examples/examples/fonts/code2000.ttf",
      "size": 16
    }
   },
   "component_ipping":{
      "localpingdestination":"",
      "pingintervall":300,
      "remotepingdestination":"8.8.8.8"
   },
   "component_lastbackupimage":{
      "checkforlatestfile":"/mnt/%HOSTNAME%/*.img"
   },
   "pushover":{
      "messages":1,
      "apikey":"",
      "userkey":""
   }
}
